<html>
	<head>
		<script src="js/angular.min.js"></script>
		<script>
		
			var mainApp = angular.module("myApp",[]);
		
			mainApp.controller("studentName",function($scope){
				$scope.student={
					firstName:"first",
					lastName:"last",
					fullName: function(){
						var studFullName = $scope.student;
						return studFullName.firstName+" "+studFullName.lastName;
					}
				};
			}); 
			
		</script>
	</head>
	<body>
		<div ng-app="myApp" ng-controller="studentName">
			
			<input type="text" ng-model="student.firstName" />
			<input type="text" ng-model="student.lastName" />
			
			<p> Your Name: <span>{{student.fullName()}}</span></p>
			
			
		</div>	
	</body>
</html>
	