<html>
	<head>
		<script src="js/angular.min.js"></script>
		<script>
			var calApp = angular.module("calApp",[]);
			
			calApp.factory("calFactory",function(){
				var factory = {};
				
				factory.add = function(num1,num2){
					return (num1 + num2);
				},
				factory.substract = function(num1,num2){
					return (num1 - num2);
				}
				
				return factory;
				
			});
			
			calApp.service("calculatorService",function(calFactory){
				this.add = function(num1,num2){
					return calFactory.add(num1,num2);
				},
				this.substract = function(num1,num2){
					return calFactory.substract(num1,num2);
				}
			});
			
			calApp.controller("calendarController",function($scope,calculatorService){
				
					$scope.add = function(){
						$scope.result = calculatorService.add($scope.num1,$scope.num2);
					},
					$scope.substract = function(){
						$scope.result = calculatorService.add($scope.num1,$scope.num2);
					}
				
				
			});
		</script>
	</head>	
	<body>
		<div ng-app="calApp" ng-controller="calendarController">
			Enter First Number: <input type="text" ng-model="num1" /><br>
			Enter Second Number: <input type="text" ng-model="num2" /><br>
			
			<button ng-click="add()">+</button> &nbsp;&nbsp;&nbsp;
			<button ng-click="subract()">-</button> &nbsp;&nbsp;&nbsp;
			<button ng-click="multiply()">*</button> &nbsp;&nbsp;&nbsp;
			<button ng-click="divide()">/</button> &nbsp;&nbsp;&nbsp;
			
			<span>{{result}}</span>
				
		</div>	
	</body>
</html>